@model User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div>
    <h2>User Name : @Model.Username</h2>
    <h2>User Email : @Model.Email</h2>
    <h2>User Password : @Model.Password</h2>
</div>