@model Dich
<h1>Add a new Dish!</h1>
<h1><a asp-action="Index">Home </a> | <a asp-action="New">Add a dish</a></h1>
<form method="post" asp-action=" Create" asp-controller="Home" >
    <div class="container gap-3 ">
    <div class="form-group d-flex flex-column mx-3 gap-3">
        <span asp-validation-for="Chef" class="text-danger"></span>
        <label asp-for="Chef"></label>
        <input asp-for="Chef" >
    </div>
    <div class="form-group d-flex flex-column mx-3 gap-3">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name">
    </div>
      <div class="form-group d-flex flex-column mx-3 gap-3">
        <span asp-validation-for="Calories" class="text-danger"></span>
        <label asp-for="Calories"></label>
        <input asp-for="Calories" >
    </div>
    <div class="form-group d-flex flex-column mx-3 gap-3">
        <span asp-validation-for="Tastiness" class="text-danger"></span>
        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness">
        @for(var t = 1; t <= 5; t++)
        {
            if(t == 5)
            {
                <option selected value="@t">@t</option>
            }
            else
            {
                <option value="@t">@t</option>
            }
        }
        </select>
    </div>
    <div class="form-group d-flex flex-column gap-3 ">
        <span asp-validation-for="Description" class="text-danger"></span>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" ></textarea>
    </div>
    </div>
   <input type="submit" value="Add Dish">
</form>