<link rel="stylesheet" href="~/css/style.css">
<h1>Home | <a href="/Projects">Projects</a> | <a href="/Contact">Contact</a></h1>

<div class="row">
    <div class="column">
        <img src="" width="300" alt="">
        <h3>About Me</h3>
        <h4>Coding💎💎</h4>
    </div>
    <div class="column">
        Quand vous codez en JavaScript pour le web, il y a un grand nombre d'API disponibles. 
        La liste ci-dessous énumère toutes les interfaces types et objetsque vous pouvez appeler
        quand vous développez votre application web ou votre site.
        Les APIs Web sont habituellement utilisés avec le JavaScript, bien que cela ne devrait pas toujours être le cas.
    </div>
</div>