<link rel="stylesheet" href="~/css/style.css">
<h1 style="text-align: center;"><a href="/">Home</a> | Projects | <a href="/Contact">Contact</a></h1>

<h2>my projects💡💡</h2>

<div class="projectBox">
    @{
        for (int i = 0; i < 4; i++)
        {
            <div class="proj-row">
                <img src="" width="50" class="proj-col-left" alt="">
                <div class="proj-col-right">I love to code 💖💖</div>
            </div>
        }
    }

</div>