<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= '/css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> user {{user["first_name"]}} </h1>
    <div class="cardt p-5 bg-danger">
        <div class="card-bodyt">
        Full Name : {{user["first_name"]}} {{user["last_name"]}}
        E_mail : {{user["email"]}}
        Cerated on :{{user[" cerated_at"]}}
        last update on:{{user[" updated_at"]}}
        </div>
    </div>
</body>
</html>