
<h1>hello </h1>
<form action="" method="post">
    <input type="text" name="Name"/>
    <input  name="location"/>
    <input  name="language"/>
     <input type="textarea"  name="contx"/>
    <button type="submit">Submit</button>
</form>