@{
    ViewData["Title"] = "Home Page";
}
@model Survey

<form action="/survey" method="post">
    <div class="form-groupe">
        <label for="FirstName">FirstName</label>
        <input type="text" name="FirstName" id="FirstName">
    </div>
        <div class="form-groupe">
        <label for="Locatio">Location</label>
        <input type="text" name="Locatio" id="Locatio">
    </div>
        <div class="form-groupe">
        <label for="Language">Language</label>
        <input type="text" name="Language" id="Language">
    </div>
        </div>
        <div class="form-groupe">
        <label for="Comm">Comment</label>
        <input type="text" name="Comm" id="Comm">
    </div>
     <input type="submit" name="submit">
    <!-- your Survey fields go here! -->
</form>
