@model Survey
<div>
    <h2>User FirstName : @Model.FirstName</h2>
    <h2>User Location : @Model.Locatio</h2>
    <h2>User Language : @Model.Language</h2>
    <h2>User Comment : @Model.Comm</h2>
</div>