@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model User
<form asp-action="Form " asp-controller="Home" method="post">
    <span asp-validation-for="Username"></span>
    <label asp-for="Username"></label>
    <input asp-for="Username">    
    <span asp-validation-for="Location"></span>
    <label asp-for="Location"></label>
    <input asp-for="Location">
    <span asp-validation-for="Language"></span>
    <label asp-for="Language"></label>
    <input asp-for="Language">
     <span asp-validation-for="Comm"></span>
    <label asp-for="Comm"></label>
    <input asp-for="Comm">
    <input value="Add User" type="submit">    
</form>