@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model User
<div>
    <h2>User Name : @Model.Username</h2>
    <h2>User Location : @Model.Location</h2>
    <h2>User Language : @Model.Language</h2>
    <h2>User Comment : @Model.Comm</h2>
    <input href="Form" type="butten" name="go back" />
</div>