
<h1>hello  </h1>
<form action="/form" method="post">
    <input type="text" name="name"/>
    <input  name="location"/>
    <input  name="language"/>
     <input type="textarea"  name="contx"/>
    <input type="submit" value="submit">
</form>