
<div style="margin: 30px 90px;">
@{
    string[] dishes = { "Apple Pie", "Pizza", "Clams Casino", "lasagna" , "Cake"};

    foreach (string dish in dishes)
    {
        if (dish.StartsWith("C"))
        {
            <p style="color:red;">@dish</p>
        }
        else
        {
            <p>@dish</p>
        }
    }
}
</div>